PORT=8080
NODE_ENV=development
LOG_LEVEL=info

# AWS
AWS_REGION= your-aws-region
AWS_ACCESS_KEY_ID= your-access-key
AWS_SECRET_ACCESS_KEY= secret-key
S3_BUCKET= s3-bucket
# MongoDB
MONGODB_URI=mongodb://127.0.0.1/file_upload_service
MONGODB_DB_NAME=file_upload_service


